.config-page {
  margin: 10px;
}

.config-header {
  border-bottom: 2px solid orange;
  margin-bottom: 10px;
}

.section-header {
  text-decoration: underline solid orange 2px;
}

.config-col {
  display: flex;
  flex-direction: row;
}

.config-col > div {
  flex-grow: 1;
}

.add-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
